html {
  
  font-family: 'Nanum Pen Script', cursive;

  background: url("배경6.jpg") repeat 0 0 scroll;
  background-color:#0C0C0C;
  background-attachment: fixed;
  height:300%;
  width:100%;
}

body{  margin-left: 0;
    margin-right: 0;}
h1 {
  font-size: 150px;
  text-align: center;
  text-decoration: none;

}

h2 {
  font-size: 100px
}

p {
  font-size: 80px;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 20px;
  font-size: 90px;
  line-height:2em ;
  text-align: center;
  
}

img {

  width: 100%;
}

a{
  font-size: 90px;
  text-decoration: none;


}
